.login{
  display: flex;
  position: absolute;
  color: black;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 19%;
  padding: 50px;
  padding-bottom: 22%;
  width: 20%;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.4);
}

.login h1{
  position: absolute;
  top: 27px;
}

.login .USN{
  font-family: 'Poppins', sans-serif;
  position: absolute;
  outline: none;
  width: 70%;
  height: 10%;
  bottom: 66%;
  border-radius: 50px ;
  background-color: rgba(235, 235, 235, 1);
  font-weight: bold;
  padding: 0;
  padding-left: 10px;
}

.login .password{
  font-family: 'Poppins', sans-serif;
  position: absolute;
  outline: none;
  width: 70%;
  height: 10%;
  bottom: 43%;
  border-radius: 50px;
  background-color: rgba(235, 235, 235, 1);
  font-weight: bold;
  padding: 0;
  padding-left: 10px;
}

.login .newacc{
  position: absolute;
  bottom: 6%;
}

.login a{
  text-decoration: none;
  font-weight: bold;
  color: #f44336;
}

.login a:hover{
  text-decoration: underline;
}

.login .l_cont .btn{
  font-family: 'Poppins', sans-serif;
  display: flex;
  position: absolute;
  padding: 8px 20px;
  bottom: 29%;
  border: 20px;
  border-radius: 17px;
  background-color: #f44336;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
